* {
    margin: 0;
    padding: 0;
    font-family: 'Open-Sans', sans-serif;

}

/* cabeçalho */

header .line {
    background-color: green;
    height: 10px;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.search {
    display: flex;
    align-items: center;
}

.header-area {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.header-area .logo img {
    height: 64px;
    width: 64px;
    margin-top: 20px;
}

.busca form {
    display: flex;
}

.busca input {
    outline: 0;
    border: 1px solid #999999;
    padding: 8px 18px;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
}

.busca button {
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}


.busca button img {
    border: 0;
    background-color: transparent;
    width: 16px;
    height: 16px;
}

.search .menu-img img {
    margin-left: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

/* banner principal ( section ) */

.banner {
    background-image: url('/photos/bg.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}


.banner h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 100px;
    margin-bottom: 30px;

}

.banner-img {
    margin-top: 60px;
}

.banner-img img {
    width: 148px;
    height: 148px;
    border: 6px solid green;
    border-radius: 50%;
    margin-right: 35px;

}


/* conteudo grid part1*/


.area-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area-conteudo {
    padding: 80px;
}

.area-img1 {
    background-color: green;
    height: 350px;
    background-image: url('/photos/f2.jpg');
    background-position: center;
    background-size: cover;

}

.area-img2 {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('/photos/f1.jpg');
    background-position: center;
    background-size: cover;
}

.barra {
    width: 168px;
    height: 22px;
    background-color: #006341;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px;
    line-height: 35px;
    margin-bottom: 30px;
}

.area-quote {
    margin-bottom: 30px;
}

.area1-text {
    margin-bottom: 50px;
    line-height: 25px;
}

.button {
    display: inline-block;
    border: 1px solid #999999;
    padding: 10px 30px;
    border-radius: 5px;
    color: #999999;
    text-decoration: none;

}

.button:hover {
    color: white;
    background-color: #999999;
}

/* area 2 css grid */

.area2-text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area-2 .area-conteudo {
    padding: 80px;

}

.area2-img1 {
    background-color: green;
    background-image: url('/photos/f4.jpg');
    background-position: center;
    background-size: cover;
    height: 450px;

}

.area2-img2 {
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('/photos/f3.jpg');
    background-position: center;
    background-size: cover;
}




/* area 3 grid css */


.area3-text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3-conteudo {

    padding: 200px 80px;
    background-color: pink;
    background-image: url('/photos/bg2.jpg');
    background-position: left;
    background-size: cover;
}

.area3-img1 {
    background-color: green;
    background-image: url('/photos/f5.jpg');
    background-position: center;
    background-size: cover;

}

/* area 4 css grid */

.area4-text {
    margin-bottom: 50px;
    line-height: 25px;
}

.area-4 {
    display: grid;
    grid-template-columns: 500px 1fr;
    background-color: #e8e9ee;
}

.area4-conteudo {
    padding: 160px 80px
}

.area4-img1 {
    background-color: green;
    background-image: url('/photos/bg3.jpg');
    background-position: center;
    background-size: cover;
}


.area5 {
    background-color: green;
    background-image: url('/photos/bg4.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
}

footer {
    background-color: #2b2a2a;
    color: #fff;
    text-align: center;
    padding: 80px;
}


@media (min-width: 769px) and (max-width: 1140px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

}

@media (min-width: 426px) and (max-width:768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .area-1 {
        grid-template-columns: 3fr 2fr;
    }

    .area-2 {
        grid-template-columns: 3fr 2fr;
    }

    .area5 {
        background-position: right;
    }


}

@media(max-width: 426px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }


    .busca{ 
        max-width: 100px;
    }
    .search .menu-img img{ 
        margin-left: 40px;
    }

    .banner h1{ 
        font-size: 40px;
        line-height: 40px;
    }

    .banner-img img {

        width: 70px;
        height: 70px;
        border: 3px solid green;
        border-radius: 50%;
        margin-right: 10px;
    
    }


    .area2-img1{ 
        max-width: 310px;
    }




.area-1, .area-2, 
.area-3, .area-4{ 
    grid-template-columns: 1fr;
}

.area-conteudo, .area2-conteudo,
.area3-conteudo, .area4-conteudo{ 
    padding: 40px;
}

.area-5{ 
    height: 200px;
}

footer{ 
font-size: 12px;
padding: 20px;
}









}